<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>PEScheduledJob</display-name>
   <listener>
    <listener-class>com.hk.ecm.claims.schedule.JobSchedule</listener-class>
  </listener>
  <servlet>
    <servlet-name>StatusDispatching</servlet-name>
    <servlet-class>com.hk.ecm.claims.test.StatusDispatching</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StatusDispatching</servlet-name>
    <url-pattern>/StatusDispatching</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
</web-app>