<div style="width: 100%;overflow-x:auto;overflow-y:auto; height: 50%">
	<div data-dojo-type="dijit/layout/TabContainer" style="width: 100%; height: 100%;" data-dojo-attach-point="mainTabs">
		<div data-dojo-type="dijit/layout/ContentPane" title="Filing Information" data-dojo-props="selected:true" data-dojo-attach-point="fillingsTab">
			<input name="txtFormSaved" data-dojo-attach-point="txtFormSaved" type='hidden'/>
			<button data-dojo-type="dijit/form/Button" type="button" data-dojo-attach-point="btnShowClaim">Show Claim System</button>
			<!--<div  data-dojo-attach-point="contextualMenuStore"></div>
			<text data-dojo-attach-point="contextualMenuTargetRefPoint">RightClickMeForShowingContextualMenu</text>-->
			<div style="overflow-x:auto;overflow-y:auto;width:98%;height:180px;">
				<div data-dojo-type="dojox.grid.DataGrid" data-dojo-attach-point="docsDataGrid" data-dojo-props="rowSelector:'20px'">
				</div>
			</div>
		</div>
		<div data-dojo-type="dijit/layout/ContentPane" title="Job Properties" data-dojo-props="selected:true" data-dojo-attach-point="popsTab">
			<div style="overflow:auto;overflow-y:auto;padding: 0;height: 101%">
				<table>
					<tr VALIGN=TOP>
						<td>
							<table>
								<tr VALIGN=TOP>
									<td>
										Accessor Group
									</td>
									<td colspan="3">
										<input type="text" name="txtAccessorGroup"
										data-dojo-type="dijit/form/TextBox"
										data-dojo-props="trim:true, propercase:true,readOnly:true" data-dojo-attach-point="txtAccessorGroup"/>
									</td>
								</tr>
								<tr>
									<td>
										Adjustment Date
									</td>
									<td colspan="3">
										<input type="text" name="txtAdjustmentDate"
										data-dojo-type="dijit/form/TextBox"
										data-dojo-props="trim:true, propercase:true,readOnly:true" data-dojo-attach-point="txtAdjustmentDate"/>
									</td>
								</tr>
								<tr>
									<td>
										Batch Number
									</td>
									<td colspan="3">
										<input type="text" name="txtBatchNumber"
										data-dojo-type="dijit/form/TextBox"
										data-dojo-props="trim:true, propercase:true,readOnly:true" data-dojo-attach-point="txtBatchNumber"/>
									</td>
								</tr>
								<tr>
									<td>
										Claim Approval User
									</td>
									<td colspan="3">
										<input type="text" name="txtClaimApprovalUser"
										data-dojo-type="dijit/form/TextBox"
										data-dojo-props="trim:true, propercase:true,readOnly:true" data-dojo-attach-point="txtClaimApprovalUser"/>
									</td>
								</tr>
								<tr>
									<td>
										Claim Copmany
									</td>
									<td colspan="3">
										<input type="text" name="txtClaimCopmany"
										data-dojo-type="dijit/form/TextBox"
										data-dojo-props="trim:true, propercase:true,readOnly:true" data-dojo-attach-point="txtClaimCopmany"/>
									</td>
								</tr>
								<tr>
									<td>
										Claim Number
									</td>
									<td colspan="3">
										<input type="text" name="txtClaimNumber"
										data-dojo-type="dijit/form/TextBox"
										data-dojo-props="trim:true, propercase:true,readOnly:true" data-dojo-attach-point="txtClaimNumber"/>
									</td>
								</tr>
								<tr>
									<td>
										Claim Prefix
									</td>
									<td colspan="3">
										<input type="text" name="txtClaimPrefix"
										data-dojo-type="dijit/form/TextBox"
										data-dojo-props="trim:true, propercase:true,readOnly:true" data-dojo-attach-point="txtClaimPrefix"/>
									</td>
								</tr>
								<tr>
									<td>
										Claim Register User 
									</td>
									<td colspan="3">
										<input type="text" name="txtClaimRegisterUser"
										data-dojo-type="dijit/form/TextBox"
										data-dojo-props="trim:true, propercase:true,readOnly:true" data-dojo-attach-point="txtClaimRegisterUser"/>
									</td>
								</tr>
								<tr>
									<td>
										Claim Type
									</td>
									<td colspan="3">
										<input type="text" name="txtClaimType"
										data-dojo-type="dijit/form/TextBox"
										data-dojo-props="trim:true, propercase:true,readOnly:true" data-dojo-attach-point="txtClaimType"/>
									</td>
								</tr>
								<tr>
									<td>
										Diagnosis Code
									</td>
									<td colspan="3">
										<input type="text" name="txtDiagnosisCode"
										data-dojo-type="dijit/form/TextBox"
										data-dojo-props="trim:true, propercase:true,readOnly:true" data-dojo-attach-point="txtDiagnosisCode"/>
									</td>
								</tr>
								<tr>
									<td>
										DOS
									</td>
									<td colspan="3">
										<input type="text" name="txtDOS"
										data-dojo-type="dijit/form/TextBox"
										data-dojo-props="trim:true, propercase:true,readOnly:true" data-dojo-attach-point="txtDOS"/>
									</td>
								</tr>
								<tr>
									<td>
										Escalation Group
									</td>
									<td colspan="3">
										<input type="text" name="txtEscalationGroup"
										data-dojo-type="dijit/form/TextBox"
										data-dojo-props="trim:true, propercase:true,readOnly:true" data-dojo-attach-point="txtEscalationGroup"/>
									</td>
								</tr>
								<tr>
									<td>
										Exclude From Statistic
									</td>
									<td colspan="3">
										<input type="text" name="txtExcludeFromStatistic"
										data-dojo-type="dijit/form/TextBox"
										data-dojo-props="trim:true, propercase:true,readOnly:true" data-dojo-attach-point="txtExcludeFromStatistic"/>
									</td>
								</tr>
								<tr>
									<td>
										Hard Copy
									</td>
									<td colspan="3">
										<input type="text" name="txtHardCopy"
										data-dojo-type="dijit/form/TextBox"
										data-dojo-props="trim:true, propercase:true,readOnly:true" data-dojo-attach-point="txtHardCopy"/>
									</td>
								</tr>
								<tr>
									<td>
										Hold
									</td>
									<td colspan="3">
										<input type="text" name="txtHold"
										data-dojo-type="dijit/form/TextBox"
										data-dojo-props="trim:true, propercase:true,readOnly:true" data-dojo-attach-point="txtHold"/>
									</td>
								</tr>
								<tr>
									<td>
										Input Group
									</td>
									<td colspan="3">
										<input type="text" name="txtInputGroup"
										data-dojo-type="dijit/form/TextBox"
										data-dojo-props="trim:true, propercase:true,readOnly:true" data-dojo-attach-point="txtInputGroup"/>
									</td>
								</tr>
								<tr>
									<td>
										Member HK ID
									</td>
									<td colspan="3">
										<input type="text" name="txtMemberHKID"
										data-dojo-type="dijit/form/TextBox"
										data-dojo-props="trim:true, propercase:true,readOnly:true" data-dojo-attach-point="txtMemberHKID"/>
									</td>
								</tr>
								<tr>
									<td>
										Member ID
									</td>
									<td colspan="3">
										<input type="text" name="txtMemberID"
										data-dojo-type="dijit/form/TextBox"
										data-dojo-props="trim:true, propercase:true,readOnly:true" data-dojo-attach-point="txtMemberID"/>
									</td>
								</tr>
							</table>
						</td>
						<td>
							<table>
								<tr>
									<td>
										Member Number
									</td>
									<td colspan="3">
										<input type="text" name="txtMemberNumber"
										data-dojo-type="dijit/form/TextBox"
										data-dojo-props="trim:true, propercase:true,readOnly:true" data-dojo-attach-point="txtMemberNumber"/>
									</td>
								</tr>
								<tr>
									<td>
										Mode
									</td>
									<td colspan="3">
										<input type="text" name="txtMode"
										data-dojo-type="dijit/form/TextBox"
										data-dojo-props="trim:true, propercase:true,readOnly:true" data-dojo-attach-point="txtMode"/>
									</td>
								</tr>
								<tr>
									<td>
										Payment Date
									</td>
									<td colspan="3">
										<input type="text" name="txtPaymentDate"
										data-dojo-type="dijit/form/TextBox"
										data-dojo-props="trim:true, propercase:true,readOnly:true" data-dojo-attach-point="txtPaymentDate"/>
									</td>
								</tr>
								<tr>
									<td>
										Payment Status
									</td>
									<td colspan="3">
										<input type="text" name="txtPaymentStatus"
										data-dojo-type="dijit/form/TextBox"
										data-dojo-props="trim:true, propercase:true,readOnly:true" data-dojo-attach-point="txtPaymentStatus"/>
									</td>
								</tr>
								<tr>
									<td>
										Pending1
									</td>
									<td colspan="3">
										<input type="text" name="txtPending1"
										data-dojo-type="dijit/form/TextBox"
										data-dojo-props="trim:true, propercase:true,readOnly:true" data-dojo-attach-point="txtPending1"/>
									</td>
								</tr>
								<tr>
									<td>
										Pending Reason
									</td>
									<td colspan="3">
										<input type="text" name="txtPendingReason"
										data-dojo-type="dijit/form/TextBox"
										data-dojo-props="trim:true, propercase:true,readOnly:true" data-dojo-attach-point="txtPendingReason"/>
									</td>
								</tr>
								<tr>
									<td>
										Policy Name
									</td>
									<td colspan="3">
										<input type="text" name="txtPolicyName"
										data-dojo-type="dijit/form/TextBox"
										data-dojo-props="trim:true, propercase:true,readOnly:true" data-dojo-attach-point="txtPolicyName"/>
									</td>
								</tr>
								<tr>
									<td>
										Policy Number
									</td>
									<td colspan="3">
										<input type="text" name="txtPolicyNumber"
										data-dojo-type="dijit/form/TextBox"
										data-dojo-props="trim:true, propercase:true,readOnly:true" data-dojo-attach-point="txtPolicyNumber"/>
									</td>
								</tr>
								<tr>
									<td>
										Process Date
									</td>
									<td colspan="3">
										<input type="text" name="txtProcessDate"
										data-dojo-type="dijit/form/TextBox"
										data-dojo-props="trim:true, propercase:true,readOnly:true" data-dojo-attach-point="txtProcessDate"/>
									</td>
								</tr>
								<tr>
									<td>
										Provider Name
									</td>
									<td colspan="3">
										<input type="text" name="txtProviderName"
										data-dojo-type="dijit/form/TextBox"
										data-dojo-props="trim:true, propercase:true,readOnly:true" data-dojo-attach-point="txtProviderName"/>
									</td>
								</tr>
								<tr>
									<td>
										Recieved Date
									</td>
									<td colspan="3">
										<input type="text" name="txtRecievedDate"
										data-dojo-type="dijit/form/TextBox"
										data-dojo-props="trim:true, propercase:true,readOnly:true" data-dojo-attach-point="txtRecievedDate"/>
									</td>
								</tr>
								<tr>
									<td>
										Status
									</td>
									<td colspan="3">
										<input type="text" name="txtStatus"
										data-dojo-type="dijit/form/TextBox"
										data-dojo-props="trim:true, propercase:true,readOnly:true" data-dojo-attach-point="txtStatus"/>
									</td>
								</tr>
								<tr>
									<td>
										Supervisor Group
									</td>
									<td colspan="3">
										<input type="text" name="txtSupervisorGroup"
										data-dojo-type="dijit/form/TextBox"
										data-dojo-props="trim:true, propercase:true,readOnly:true" data-dojo-attach-point="txtSupervisorGroup"/>
									</td>
								</tr>
								<tr>
									<td>
										Team
									</td>
									<td colspan="3">
										<input type="text" name="txtTeam"
										data-dojo-type="dijit/form/TextBox"
										data-dojo-props="trim:true, propercase:true,readOnly:true" data-dojo-attach-point="txtTeam"/>
									</td>
								</tr>
								<tr>
									<td>
										Total Incurred Amount
									</td>
									<td colspan="3">
										<input type="text" name="txtTotalIncurredAmount"
										data-dojo-type="dijit/form/TextBox"
										data-dojo-props="trim:true, propercase:true,readOnly:true" data-dojo-attach-point="txtTotalIncurredAmount"/>
									</td>
								</tr>
								<tr>
									<td>
										Total Paid Amount
									</td>
									<td colspan="3">
										<input type="text" name="txtTotalPaidAmount"
										data-dojo-type="dijit/form/TextBox"
										data-dojo-props="trim:true, propercase:true,readOnly:true" data-dojo-attach-point="txtTotalPaidAmount"/>
									</td>
								</tr>
								<tr>
									<td>
										Total Shortfall Amount
									</td>
									<td colspan="3">
										<input type="text" name="txtTotalShortfallAmount"
										data-dojo-type="dijit/form/TextBox"
										data-dojo-props="trim:true, propercase:true,readOnly:true" data-dojo-attach-point="txtTotalShortfallAmount"/>
									</td>
								</tr>
							</table>
						</td>
					</tr>
				</table>
			</div>
		</div>
	</div>
	
</div>